<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="2" parallel="methods" thread-count="2">
<listeners>
<listener class-name="TestNG.ListenersExample"></listener>
</listeners>
<test name="Test Cases">
<parameter name="Name" value="Duck"></parameter>
<!-- <groups>
  <run>
  <include name="Moto"></include>
  <include name="Vivo"></include>
  <exclude name=""></exclude>
  </run>
</groups> -->
<classes>

<!-- <class name="TestNG.DependenciesManagment"/>
<class name="TestNG.DriveACar"/>
<class name="TestNG.SampleTestCase"/>
<class name="TestNG.SkipATestCase"/>
<class name="TestNG.GroupingExample"/>
<class name="TestNG.ParameterizationExample"/>
<class name="TestNG.ParallelTesting"/> -->
<class name="TestNG.SampleTestCase"/>
</classes>
</test>
</suite>